.app-section {
  position: relative;
}

.app-section {
  left: 78px;
  width: calc(100% - 78px);
}

.app-section .app-navbar {
  height: 60px;
  display: flex;
  align-items: center;
}
.faq-app-navbar {
  position: absolute;
  visibility: none;
  opacity: 0;
}
.app-section .app-navbar .bx-menu,
.app-section .app-navbar .text {
  color: #11101d;
  font-size: 35px;
}

.app-section .app-navbar .bx-menu {
  margin: 0 15px;
  cursor: pointer;
}

.app-section .app-navbar .text {
  font-size: 26px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .faq-app-navbar {
    position: relative;
    visibility: visible;
    opacity: 1;
  }
  .app-section .app-navbar {
    background-color: #11101d;
  }
  .app-section .app-navbar .bx-menu,
  .app-section .app-navbar .text {
    color: white;
    font-size: 30px;
  }
  .app-section {
    left: 0;
    width: 100vw;
  }

  .app-section .app-navbar .text {
    font-size: 5vw;
    font-weight: 600;
  }
  .sidebar.close ~ .app-section {
    left: 0px;
    width: 100vw;
  }
}
